@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

body {
    font-family: 'raleway', Helvetica;
}

main {
    min-height: 50vh;
}

a:hover,
a:active {
    text-decoration: none;
}

div#userText {
    height: max-content;
    padding: 10px;
}

#getUserText {
    line-height: initial;
}

.full-container {
    max-width: 100% !important;
}

.deleteSection {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

select {
    border: none !important;
}

span.toEdit {
    background-color: yellowgreen;
}

.card-body {
    text-align: initial;
}