@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', Helvetica;
    padding: 0px 2vw;
}

header {
    height: 7vh;
}

h1 {
    font-family: 'open-sans', Impact !important;
}


main {

    background-color: #f4f4f4;
}

#koverProj {
    min-height: 68vh;
}

.bg-kover {
    background: rgb(2, 63, 98);
    background: -moz-radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
    background: -webkit-radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
    background: radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
}

.text-kover {
    color: rgba(2, 63, 98, 1);
}

.cursor-pointer {
    cursor: pointer;
}

nav {
    height: 7vh;
}

nav select {
    border-radius: 5px;
}

nav option {
    background-color: rgb(2, 63, 98) !important;
    color: #fff;
    text-align: center;
}

nav a:hover {
    border: 1px solid #f4f4f4;
    border-radius: 15px;
    text-decoration: none;
}

nav a {
    border: 1px solid transparent;
    padding: 2px 8px;
}

nav .avatar {
    cursor: pointer;
}

nav .userOptions {
    position: absolute;
    top: 6vh;
    right: 2vw;
    border: 2px solid rgb(2, 63, 98);
    border-radius: 15px;
    background-color: #ffdb10;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

#getUserText {
    line-height: initial;
    min-height: 20vh;
}

#originalUserText {
    line-height: initial;
    min-height: 50vh;
}


#userText {
    min-height: 20vh;
    padding: 10px;
    text-align: left;
}

.full-container {
    max-width: 100% !important;
}

.deleteSection {
    cursor: pointer;
}

select {
    border: none !important;
}

span.toEdit {
    background-color: rgb(2, 63, 98);
    color: white;
}

.card-body {
    text-align: initial;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.conditions-container {
    height: 40vh;
}

p.conditions {
    overflow: auto;
    z-index: -1;
    height: 30vh;
}

h3[data-toggle]:hover {
    background: rgb(2, 63, 98);
    background: -moz-radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
    background: -webkit-radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
    background: radial-gradient(circle, rgba(2, 63, 98, 1) 0%, rgba(3, 105, 163, 1) 78%);
    color: #f4f4f4;
    border-radius: 20px;
}

.modal-dialog,
.modal-body {
    height: max-content !important;
}


@media (max-width:768px) {

    #originalUserText {
        min-height: 30vh;
    }

    header {
        height: auto;
    }

    nav {
        height: 85vh;
        border: 2px solid white;
        border-radius: 15px;
    }

    nav .userOptions {
        right: auto;
        position: static;
        top: auto;
        border: none;
        border-radius: 0px;
        background-color: inherit;

    }
}